<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='new_design/' + 'style.css') }}">
<meta charset="utf-8">
<title>fcont_metrics</title>
<style type="text/css">
body,td,th {

}

</style>
</head>
<body>
    <table width="100%" border="0">
        <tbody>
            <tr>
                <td height="50"></td>
            </tr>
        <tr>
            <td align="center"><strong>Force Control Metrics</strong></td>
        </tr>
        <tr>
            <td align="center" height="20"><img src="{{url_for('static', filename='new_design/' + 'separate.png') }}" width="500" height="2" alt=""/></td>
        </tr>
        
        </tbody>
    </table>
    <table width="100%" border="0">
        <tbody>
            <tr>
                <td>
    <embed src="static/FCmerged.pdf" type="application/pdf" width="100%" height="600px" />

                </td>
            </tr>
        </tbody>
    </table>



</body>
</html>