<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='new_design/' + 'style.css') }}">
<meta charset="utf-8">
<title>imprint</title>
<style type="text/css">
body,td,th {

}

</style>
</head>

<body>
  <table border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <th width="50" scope="row">&nbsp;</th>
        <td><a href="/"><img src="{{ url_for('static', filename='new_design/' + 'logo.svg') }}" width="120" height="60" alt=""/></a></td>
        <td width="50">&nbsp;</td>
        <td><span style="color: green;"><a href="/">Home</a></span></td>
        <td width="20">&nbsp;</td>
        <td><a href="/tree">The Tree of Robots</a></td>
        <td width="20">&nbsp;</td>
        <td><a href="/process">Process Database</a></td>
        <td width="20">&nbsp;</td>
        <td><a href="/metrics"><greentext>Metrics Definitions</greentext></a></td>
        <td width="1030">&nbsp;</td>
        <td><a href="/imprint">Imprint</a></td>
        <td width="20">&nbsp;</td>
        <td><a href="/privacy">Privacy policy</a></td>
      </tr>
    </tbody>
  </table>
<table width="100%" border="0">
  <tbody>
    <tr>
      <th height="100" scope="row">&nbsp;</th>
    </tr>
  </tbody>
</table>
<table border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td align="left"><headline>Imprint - Legal Notice</headline></td>
    </tr>
    <tr>
      <td height="10" align="left">&nbsp;</td>
    </tr>
    <tr>
      <td width="1200" align="left"><h3>Publisher</h3>
        <p>Technical University of Munich<br>
          Postal address: Arcisstraße 21, 80333 Munich, Germany<br>
          Tel. +49 89 289 01<br>
      Fax +49 89 289 22000</p>
        <h3>Legal status and representation</h3>
        <p>The Technical University of Munich is a corporation under public law   and a state institution (Art. 11(1) of the Bavarian Higher Education Act   - BayHSchG). Its legal representative is Prof. Dr. Thomas F. Hofmann.</p>
        <h3>Supervisory authority</h3>
        <p>Bavarian State Ministry of Science and the Arts</p>
        <h3>VAT identification number</h3>
        <p>DE811193231 (in accordance with § 27a of the German VAT tax act - UStG)</p>
        <h3>Responsible for content</h3>
        <p>Prof. Dr. Thomas F. Hofmann<br>
          Arcisstr. 21<br>
          80333 Munich<br>
          Germany</p>
        <h3>Terms of use</h3>
        <p>Texts, images, graphics, as well as the design of these internet pages, may be subject to copyright.</p>
        <p>The following works are not protected by copyright in accordance with § 5 of the German Copyright Act (UrhG):</p>
        <ul>
          <li>acts, statutory instruments, official decrees and official notices, as well as decisions and official head notes of decisions;</li>
          <li>other   official texts published in the official interest for general   information purposes, subject to the proviso that the provisions   concerning the prohibition of alteration and the indication of sources   in § 62(1) to (3) and § 63(1) and (2) apply accordingly.</li>
        </ul>
        <p>Private   persons may use copyrighted material for private and other personal use   in accordance with § 53 of the German Copyright Act (UrhG).   Reproduction or use of copyrighted material from these pages, in whole   or in part, in other electronic or print media and their publication is   not permitted without explicit consent. Upon request, consent will be   given by the entity responsible for the content. Reprint and use of   press releases and speeches is, as a rule, permitted provided their   source is acknowledged.</p>
        <p>Further, texts, images, graphics, and other files may, in whole or in   part, be subject to third- party copyright. The entity responsible for   the content will provide more detailed information on third-party   rights, if any.</p>
        <h3>Liability diclaimer</h3>
        <p>The information provided on this website has been collected and   verified to the best of our knowledge and belief. However, there will be   no warranty that the information provided is up to date, correct,   complete, and available. There is no contractual relationship with users   of this website.</p>
        <p>We accept no liability for any loss or damage caused by using this   website. The exclusion of liability does not apply where the provisions   of the German Civil Code (BGB) on liability in case of breach of   official duty are applicable (§ 839 of the BGB). We accept no liability   for any loss or damage caused by malware when accessing or downloading   data or the installation or use of software from this website.</p>
        <p>Where necessary in individual cases: the exclusion of liability does   not apply to information governed by the Directive 2006/123/EC of the   European Parliament and of the Council. This information is guaranteed   to be accurate and up to date.</p>
        <p>Social Media: Despite careful control of the content, we accept no   liability for the content of external links and third-party comments on   any TUM social media channels. Operators of linked websites bear sole   responsibility for their content.</p>
        <h3>Links</h3>
        <p>Our own content is to be distinguished from cross-references   (&ldquo;links&rdquo;) to websites of other providers. These links only provide   access for using third-party content in accordance with § 8 of the   German telemedia act (TMG). Prior to providing links to other websites,   we review third-party content for potential civil or criminal liability.   However, a continuous review of third-party content for changes is not   possible and therefore we cannot accept any responsibility. For illegal,   incorrect, or incomplete content, including any damage arising from the   use or non-use of third-party information, liability rests solely with   the provider of the website.</p>
      <p>&nbsp;</p></td>
    </tr>
  </tbody>
</table>
<table width="1500" border="0">
  <tbody>
    <tr> </tr>
  </tbody>
</table>

<map name="map1a">
  <area shape="circle" coords="117,54,38" href="robot01.html" target="_blank">
</map>

<map name="Map">
  <area shape="poly" coords="174,258,259,257,332,294,393,442,295,483,172,440,110,279,134,262" href="metrics.html">
  <area shape="poly" coords="467,433,566,383,607,294,602,180,457,207,375,283,374,347,401,436" href="tree.html">
  <area shape="poly" coords="352,485,397,446,495,430,564,441,652,517,563,606,482,622,393,601,318,535" href="process.html">
</map>
</body>
</html>
