<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='new_design/' + 'style.css') }}">
<meta charset="utf-8">
<title>imprint</title>
<style type="text/css">
body,td,th {

}

</style>
</head>

<body>
  <table border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <th width="50" scope="row">&nbsp;</th>
        <td><a href="/"><img src="{{ url_for('static', filename='new_design/' + 'logo.svg') }}" width="120" height="60" alt=""/></a></td>
        <td width="50">&nbsp;</td>
        <td><span style="color: green;"><a href="/">Home</a></span></td>
        <td width="20">&nbsp;</td>
        <td><a href="/tree">The Tree of Robots</a></td>
        <td width="20">&nbsp;</td>
        <td><a href="/process">Process Database</a></td>
        <td width="20">&nbsp;</td>
        <td><a href="/metrics"><greentext>Metrics Definitions</greentext></a></td>
        <td width="1030">&nbsp;</td>
        <td><a href="/imprint">Imprint</a></td>
        <td width="20">&nbsp;</td>
        <td><a href="/privacy">Privacy policy</a></td>
      </tr>
    </tbody>
  </table>
<table width="100%" border="0">
  <tbody>
    <tr>
      <th height="100" scope="row">&nbsp;</th>
    </tr>
  </tbody>
</table>
<table border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td align="left"><headline>Privacy Policy (German only)</headline></td>
    </tr>
    <tr>
      <td height="10" align="left">&nbsp;</td>
    </tr>
    <tr>
      <td width="1200" align="left"><div id="c60667">
        <div>
          <div>
            <div>
              <div>
                <p>Für die Technische Universität München ist Datenschutz ein   wichtiges Anliegen. Wir möchten, dass Sie wissen, wann wir welche Daten   speichern und wie wir sie verwenden. Auf diesem zentralen Web-Server der   Universität (www.tum.de) werden personenbezogene Daten erhoben. Die   Datenverarbeitung unterliegt den geltenden datenschutzrechtlichen   Bestimmungen, insbesondere der Datenschutz-Grundverordnung (DSGVO) dem   Bayerischen Datenschutzgesetz (BayDSG) und dem <a href="http://www.gesetze-im-internet.de/tmg/" target="_blank" rel="noreferrer">Telemediengesetz (TMG)</a>.</p>
                <p> </p>
                <p>Nachfolgend informieren wir Sie über Art, Umfang und Zweck der   Erhebung und Verwendung personenbezogener Daten. Diese Informationen   können jederzeit von unserer Webseite abgerufen werden.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div id="c60670">
          <div>
            <div>
              <div>
                <div>
                  <h2> A. Allgemeine Informationen </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="c60671">
          <div>
            <div>
              <div>
                <div>
                  <h3> Name und Kontaktdaten des Verantwortlichen </h3>
                  <p>Technische Universität München<br>
                    vertreten durch den Präsidenten Prof. Dr. Thomas F. Hofmann<br>
                    Postanschrift: Arcisstr. 21, 80333 München<br>
                    Telefon: 089/289-01<br>
                    Telefax: 089/289-22000<br>
                    <a href="https://www.tum.de/en/privacy-policy#" data-mailto-token="hvdgoj5kjnonozggzVoph9yz" data-mailto-vector="-5">poststelle@tum.de</a></p>
                  <p> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="c60672">
          <div>
            <div>
              <div>
                <div>
                  <h3> Kontaktdaten des/der Datenschutzbeauftragten </h3>
                  <p>Der/Die Datenschutzbeauftragte der Technischen Universität München<br>
                    Postanschrift: Arcisstr. 21, 80333 München<br>
                    Telefon: 089/289-17052<br>
                    E-Mail: <a href="https://www.tum.de/en/privacy-policy#" data-mailto-token="hvdgoj5wzvpaomvbozmVyvozinxcpou9oph9yz" data-mailto-vector="-5">beauftragter@datenschutz.tum.de</a></p>
                  <p> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="c60673">
          <div>
            <div>
              <div>
                <div>
                  <h3> Zwecke und Rechtsgrundlagen für die Verarbeitung personenbezogener Daten </h3>
                  <p>Zweck der Verarbeitung ist die Erfüllung der uns vom Gesetzgeber   zugewiesenen öffentlichen Aufgaben, insbesondere der Information der   Öffentlichkeit.<br>
                    Die Rechtsgrundlage für die Verarbeitung Ihrer Daten   ergibt sich, soweit in dieser Datenschutzerklärung nichts anderes   angegeben ist, aus Art. 4 Abs. 1 des Bayerischen Datenschutzgesetzes   (BayDSG) in Verbindung mit Art. 6 Abs. 1 UAbs. 1 Buchst. e) der   Datenschutzgrundverordnung (DSGVO). Demnach ist es uns erlaubt, die zur   Erfüllung einer uns obliegenden Aufgabe erforderlichen Daten zu   verarbeiten.</p>
                  <p> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="c60674">
          <div>
            <div>
              <div>
                <div>
                  <h3> Empfänger von personenbezogenen Daten </h3>
                  <p>Beim Betrieb unserer Website erhalten verschiedene Datenempfänger Zugriff auf personenbezogene Daten.</p>
                  <p> </p>
                  <p>Unser Webserver wird durch das Leibniz-Rechenzentrum der Bayerischen   Akademie der Wissenschaften (LRZ) betrieben. Die von Ihnen im Rahmen des   Besuchs unseres Webauftritts übermittelten personenbezogenen Daten   werden daher in unserem Auftrag durch das LRZ verarbeitet:</p>
                  <p>Leibniz-Rechenzentrum (LRZ) der Bayerischen Akademie der Wissenschaften<br>
                    Boltzmannstraße 1<br>
                    D-85748 Garching bei München<br>
                    Telefon: (089) 35831 8000<br>
                    Fax: (089) 35831 9700<br>
                    E-Mail: <a href="https://www.tum.de/en/privacy-policy#" data-mailto-token="hvdgoj5gmukjnoVgmu9yz" data-mailto-vector="-5">lrzpost@lrz.de</a><br>
                    <a href="https://www.lrz.de" target="_blank" rel="noreferrer">https://www.lrz.de</a></p>
                  <p>Gegebenenfalls werden Ihre Daten an die zuständigen Aufsichts- und   Rechnungsprüfungsbehörden zur Wahrnehmung der jeweiligen Kontrollrechte   übermittelt.</p>
                  <p>Zur Abwehr von Gefahren für die Sicherheit in der Informationstechnik   können bei elektronischer Übermittlung Daten an das Landesamt für   Sicherheit in der Informationstechnik weitergeleitet werden und dort auf   Grundlage der Art. 12 ff. des Bayerischen E-Government-Gesetzes   verarbeitet werden.</p>
                  <p>Weitere Datenempfänger finden sich in Abschnitt &bdquo;B. Informationen zum Internetauftritt&ldquo; dieser Datenschutzerklärung.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="c60675">
          <div>
            <div>
              <div>
                <div>
                  <h3> Dauer der Speicherung der personenbezogenen Daten </h3>
                  <p>Ihre Daten werden nur so lange gespeichert, wie dies unter   Beachtung gesetzlicher Aufbewahrungsfristen zur Aufgabenerfüllung   erforderlich ist.</p>
                  <p> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="c60676">
          <div>
            <div>
              <div>
                <div>
                  <h3> Ihre Rechte </h3>
                  <p>Soweit wir von Ihnen personenbezogene Daten verarbeiten, stehen Ihnen als Betroffener nachfolgende Rechte zu:</p>
                  <p> </p>
                  <ul>
                    <li>Sie haben das Recht auf Auskunft über die zu Ihrer Person gespeicherten Daten (Art. 15 DSGVO).</li>
                    <li>Sollten unrichtige personenbezogene Daten verarbeitet werden, steht Ihnen ein Recht auf Berichtigung zu (Art. 16 DSGVO).</li>
                    <li>Liegen   die gesetzlichen Voraussetzungen vor, so können Sie die Löschung oder   Einschränkung der Verarbeitung verlangen (Art. 17 und 18 DSGVO).</li>
                    <li>Wenn   Sie in die Verarbeitung eingewilligt haben oder ein Vertrag zur   Datenverarbeitung besteht und die Datenverarbeitung mithilfe   automatisierter Verfahren durchgeführt wird, steht Ihnen gegebenenfalls   ein Recht auf Datenübertragbarkeit zu (Art. 20 DSGVO).</li>
                    <li>Falls   Sie in die Verarbeitung eingewilligt haben und die Verarbeitung auf   dieser Einwilligung beruht, können Sie die Einwilligung jederzeit für   die Zukunft widerrufen. Die Rechtmäßigkeit der aufgrund der Einwilligung   bis zum Widerruf erfolgten Datenverarbeitung wird durch diesen nicht   berührt. Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen   Situation ergeben, jederzeit gegen die Verarbeitung Ihrer Daten   Widerspruch einzulegen, wenn die Verarbeitung ausschließlich auf   Grundlage des Art. 6 Abs. 1 Buchst. e) oder f) DSGVO erfolgt (Art. 21   Abs. 1 Satz 1 DSGVO).</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="c60677">
          <div>
            <div>
              <div>
                <div>
                  <h3> Beschwerderecht bei der Aufsichtsbehörde </h3>
                  <p>Weiterhin besteht ein Beschwerderecht bei einer Aufsichtsbehörde.   Für die Technische Universität München zuständig ist der Bayerische   Landesbeauftragte für den Datenschutz. Diesen können Sie unter folgenden   Kontaktdaten erreichen:<br>
                    Postanschrift: Postfach 22 12 19, 80502 München  <br>
                    Adresse: Wagmüllerstraße 18, 80538 München  <br>
                    Telefon: 089 212672-0  <br>
                    Telefax: 089 212672-50  <br>
                    E-Mail: <a href="https://www.tum.de/en/privacy-policy#" data-mailto-token="hvdgoj5kjnonozggzVyvozinxcpou8wvtzmi9yz" data-mailto-vector="-5">poststelle@datenschutz-bayern.de</a><br>
                    <a href="https://www.datenschutz-bayern.de/" target="_blank" rel="noreferrer">https://www.datenschutz-bayern.de/</a></p>
                  <p> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="c60678">
          <div>
            <div>
              <div>
                <div>
                  <h3> Weitere Informationen </h3>
                  <p>Für nähere Informationen zur Verarbeitung Ihrer Daten und zu   Ihren Rechten können Sie uns unter den oben (zu Beginn von A.) genannten   Kontaktdaten erreichen.</p>
                  <p> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h3>&nbsp;</h3>
      <p>&nbsp;</p></td>
    </tr>
  </tbody>
</table>
<table width="1500" border="0">
  <tbody>
    <tr> </tr>
  </tbody>
</table>

<map name="map1a">
  <area shape="circle" coords="117,54,38" href="robot01.html" target="_blank">
</map>

<map name="Map">
  <area shape="poly" coords="174,258,259,257,332,294,393,442,295,483,172,440,110,279,134,262" href="metrics.html">
  <area shape="poly" coords="467,433,566,383,607,294,602,180,457,207,375,283,374,347,401,436" href="tree.html">
  <area shape="poly" coords="352,485,397,446,495,430,564,441,652,517,563,606,482,622,393,601,318,535" href="process.html">
</map>
</body>
</html>
