<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='new_design/' + 'style.css') }}">
<meta charset="utf-8">
<title>The Tree of Robots - Home</title>
<style type="text/css">
body,td,th {

}


</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <title>use_case_collection</title>
</head>
<body>
    <table width="100%" border="0">
        <tbody>
            <tr>
                <td height="50"></td>
            </tr>
        <tr>
            <td align="center"><strong>Industrial Use Case Collection</strong></td>
        </tr>
        <tr>
            <td align="center" height="20"><img src="{{url_for('static', filename='new_design/' + 'separate.png') }}" width="500" height="2" alt=""/></td>
        </tr>
        
        </tbody>
    </table>
    <table width="100%" border="0">
        <tbody>
            <tr>
                <td>
    <embed src="{{ url_for('static', filename='Use_Case_Sammlung_extended.pdf') }}" type="application/pdf" width="100%" height="600px" />
</td>
</tr>
</tbody>
</table>

</body>


</body>
</html>
